<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello</title>
  </head>
  <body>

    <div class="container mt-5">
      <form method="POST" action="/signup" enctype="multipart/form-data">
        <label class="form-label">User Id</label>
        <input type="text" class="form-control" name="userId" required>
        <label class="form-label">User Name</label>
        <input type="text" class="form-control" name="userName" required>
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password" required>
        <label class="form-label">Phone Number</label>
        <input type="text" class="form-control" name="phoneNumber" required>
        <label class="form-label">Image</label>
        <input type="file" class="form-control" name="image">
        <button class="btn btn-primary mt-2" type="submit">Submit</button>
      </form>
      
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>